@import "var.scss";
/* 表单校验 */
.validate-error {
    position: absolute;
    top: 100%;
    display: block;
    z-index: 1;
    max-width: $form-width;
    padding-top: 2px;
    line-height: 1em; 
    overflow: hidden;
    font-size: 0.8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: red;
    cursor: pointer;
}
.validate-error.fl-icon-info{
    position: relative;
    display: inline-block;
    top: 0.1em;
    margin-left: 3px;
    font-size: 1em;
}