/* 文字 */
$base-font-color: #4d4948;
$base-font-size: 14px;
/* 元素间隙/边留白 */
$base-padding: 15px;

/* Colors */
$color-red: rgb(217, 83, 79);
$color-yellow: rgb(255, 188, 29);
$color-light_yellow: rgb(255, 247, 204);
$color-green: rgb(92, 184, 92);
$color-light_green: rgb(209, 230, 209);
$color-blue: rgb(87, 142, 190);
$color-light_blue: rgb(184, 207, 226);
$color-gray: rgb(203, 205, 208);

$color-disabled: #f2f6fc;

/* Form  */
$form-width: 180px;
$form-height: 30px;
